* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {


    background-image: url("../CSS/fotos/fondohelado.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}